@import "./styles/base.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  padding: 24px;
  background: $gradient-bg;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.content {
  display: grid;
  grid-gap: 48px;
  align-items: flex-start;
  width: 100%;

  @include media-desktop {
    max-width: 640px;
  }
}

.btn-rules {
  position: fixed;
  margin: 0 auto;
  bottom: 48px;

  @include media-desktop {
    right: 48px;
  }
}
